#timer {
<<<<<<< HEAD
=======
    padding: 30px;
>>>>>>> parent of 2932b2d... centered all text
    color: red;
}
h1 {
    text-align: center;
    margin: 20px;
<<<<<<< HEAD
}

.intro-container {
text-align: center;
}

.intro {
   display: inline-block
}

=======
}
>>>>>>> parent of 2932b2d... centered all text
